
.background{
    background: white;
   
}
.navigation{
    background-color:transparent;
}

.navbar-brand {
  width:150px;
  height:40px;
  font-size: 24px;
}

.logo{
    vertical-align:top;
    width:120px;
    height: 60px;
    margin-top: -15px;
    overflow:hidden;
}

footer{
    background-color:#525252;
    
}


.menu{
    font-family: 'Sacramento', cursive;
    font-size:18;
    font-weight:bold;
    color:#524252;
}
.viewportfolio{
    color:white;
    font-family: 'Sacramento',cursive;
}
.navlinkcolor{
    color:gray;
}

.portfoliolink{
    color:white;
}


.quote-section{
    background: rgba(226, 201, 168,0.3);
    margin-top:0.65px;
    margin-bottom:0px;
    padding:50px;
}
.landingpageaboutme {
    font-family: 'Sacramento', cursive;
    
}
.landing-quote{
    text-align: center;
    
}
.parent-container{
    display:flex;
}
.about-me-photo{
    
    background-size:contain;
    background-repeat:no-repeat;
    width:100vw;
    background-position:50% 50%;
    display:block;
    
}

.aboutmeheader{
    margin-top:100px;
    text-align: center;
    color:black;
    font-family: 'Sacramento',cursive;
}
.about-me-picture-container{
    background-color: rgba(202, 169, 125,0.3);
    border:none;
    padding-bottom: 50px;
    
}
.aboutmepicture{
    margin-left:150px;
}

.portfolioheader{
    margin-top:100px;
    text-align: center;
    color:black;
    font-family: 'Sacramento',cursive;
}

.contactheader{
    margin-top:100px;
    text-align: center;
    color:black;
    font-family: 'Sacramento',cursive;
}

.contact-form{
    background-color: rgba(202, 169, 125,0.3);
}