/*------------ ALL PAGES ------------*/

/*original code credit for body background: "CSS only multicolor backgrounds" https://blog.prototypr.io/css-only-multi-color-backgrounds-4d96a5569a20---*/
body{
    background: linear-gradient(110deg, #F7F3EF 60%, #DEDAD5 60%); 
}

/*to ensure that images don't overflow*/
img {
    max-width:100%;
}

button{
    text-align:center;
}

.navbar-brand {
  width:150px;
  height:40px;
  font-size: 24px;
}


.logo{
    vertical-align:top;
    width:120px;
    height: 55px;
    margin-top: -15px;
    overflow:hidden;
}

.navlinkcolor{
    color:#F7F3EF;
}



footer{
    background-color:#525252;
   text-align:center;
   color:white;
    
}

.fb-ic{
    color:white;
}
.fb-ic:hover{
    text-decoration: none;
    transition-timing-function: ease-in-out;
    color:#3b5998;
}
.ins-ic{
    color:white;
}
.ins-ic:hover{
    text-decoration: none;
    transition-timing-function: ease-in-out;
    color:#3f729b;
}

.footer-copywright{
    text-align:center;
}

.menu{
    font-family: 'Playfair Display SC', serif;
    font-size:18;
    font-weight:bold;
    color:#524252;
}

/*------------ LANDING PAGE ------------*/
.viewportfolio{
    color:#F7F3EF;
    font-family: 'Sacramento',cursive;
}

.viewportfolio:hover{
    color:gray;
}


.quote-section{
    margin-top:0.65px;
    margin-bottom:0px;
    text-align:center;
    color:#F7F3EF;
    background-color: #b19f9e;
    font-family: 'Roboto',sans-serif;
    height:30vh;
}

.quotetext{
    padding-top:10%;
}


.landingpageaboutme {
    font-family: 'Sacramento', cursive;
    color:#F7F3EF;
    background-color: #b19f9e;
    
}

.about-me-photo{
    
    text-align: center;
}

/*------------ ABOUTME PAGE ------------*/

.aboutmeheader{
    margin-top:70px;
    margin-bottom:0px;
    text-align: center;
    color:#b19f9e;
    font-family: 'Sacramento',cursive;
    background-color:#DEDAD5;
    
}

.aboutmecontainer {
    margin-bottom:10px;
}
.aboutmepicture{
    padding-top:5%;
    text-align:center;
    height:100;
    width:100;
}
.aboutmetext{
    margin-top:5%;
    text-align:center;
    font-family: 'Roboto',sans-serif;
    color:#b19f9e;
    background-color: #DEDAD5;
}

/*------------ PORTFOLIO PAGE ------------*/

.portfolioheader{
    margin-top:100px;
    text-align: center;
    color:#b19f9e;
    font-family: 'Sacramento',cursive;
    background-color:#DEDAD5;
    padding-left:10%;
    padding-right:10%;
    margin-bottom:0px;
}

.gallery{
    margin-top:5%;
}

/*------------ CONTACT PAGE ------------*/
.contactheader{
    margin-top:100px;
    text-align: center;
    color:#b19f9e;
    font-family: 'Sacramento',cursive;
    margin-bottom:0px;
    background-color:#DEDAD5;
}

.contactheaderimage {
    padding-top:5%;
    text-align:center;
    height:100;
    width:100;
    margin-bottom:10px;
}
/*This class has also been used on the aboutme page*/
.secondcontactheader {
    text-align:center;
    font-family: 'Roboto', serif;
    margin-bottom:0px;
    color:white;
    background-color:#DEDAD5;
    padding-left: 10%;
    padding-right:10%;
}

.contact-form{
    text-align:center;
    margin-bottom:10px;
    font-family: 'Playfair Display SC', serif;
    color:#b19f9e;
}

/*------------ animations from Animista used on Landing Page, About Me Page and Contact Page ------------*/
/* ----------------------------------------------
 * Generated by Animista on 2019-6-6 20:46:16
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation fade-in-bl
 * ----------------------------------------
 */
@-webkit-keyframes fade-in-bl {
  0% {
    -webkit-transform: translateX(-50px) translateY(50px);
            transform: translateX(-50px) translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
    opacity: 1;
  }
}
@keyframes fade-in-bl {
  0% {
    -webkit-transform: translateX(-50px) translateY(50px);
            transform: translateX(-50px) translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
    opacity: 1;
  }
}
.fade-in-bl {
	-webkit-animation: fade-in-bl 2.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in-bl 2.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2019-6-6 20:50:12
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */



@-webkit-keyframes fade-in-fwd {
  0% {
    -webkit-transform: translateZ(-80px);
            transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes fade-in-fwd {
  0% {
    -webkit-transform: translateZ(-80px);
            transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}
.fade-in-fwd {
	-webkit-animation: fade-in-fwd 8s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in-fwd 8s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

